@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
*{
  padding: 0;
  margin: 0;
}

/*
 * @styles color-palette
 */
:root{
  --dark:#030d18;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-dark{
  color: var(--dark) !important;
}